.index_page {
    height: 2000px;
    padding-top: 6vh;
}

.index_navbar_text {
    color: #292b2c !important;
}

.index_navbar_text:hover {
    color: #7d8385 !important;
}

.index_page_banner {
    background-color: #292b2c;
    color: #eee;
    min-height: 50vh;
}