html {
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
}


p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #FFFFFF
}

body {
  width: 700px;
  margin: 100px auto;
  background-color: #FF9500;
  padding: 0px 20px 20px 20px;
  border: 10px solid white;
}

h1 {
  margin: 10px;
  padding: 10px 275px;
  color: #FFFFFF;
  text-shadow: 3px 3px 5px black;
}

img {
  display: block;
  margin: 0 auto;
  width： 200px
}
